
//---------- fonts -------------------------


@font-face {
	font-family: 'NevisBold';
	src: url('../fonts/nevis/nevis.ttf');
}

@font-face {
	font-family: 'Beyond';
	src: url('../fonts/beyond-wonderland/Beyond-Wonderland.ttf');
}

@font-face {
	font-family: 'LittleLord';
	src: url('../fonts/littlelordfontleroy/LittleLordFontleroyNF.ttf');
}


@font-face {
	font-family: 'Precious';
	src: url('../fonts/precious/Precious.ttf');
}


@font-face {
	font-family: 'tattoo-sailor';
	src: url('../fonts/tatoo-sailor/Tatoo-Sailor.TTF');
}

// #b72525



//---------- end fonts ----------------------

body {
	background-color: black;
}


.first-section {
	background-image: url('../img/liberty-logo.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: -3px 0; 
	height: 620px;
	animation-duration: 0.7s;
    animation-delay: 0.4s;
    animation-name: fadeInUp;
	
}


.store-hours{


	h3 {
		margin-top: 83px;
		font-family: LittleLord;
		font-size: 70px;
	}

	p {
		color: rgb(165, 165, 165);
		text-transform: uppercase;
		font: 91% NevisBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
	}

	.phone {

	    border-top: 1px solid white;
	    border-bottom: 1px solid white;
	    padding: 6px;
	    text-align: center;
	    font-size: 180%;
	    color: #e6c074;


	}
}




// ---------- end header ---------------------------------------------------






//---------- welcome section --------------------------------------------------------


.welcome-section {
	margin-top: 200px;
	margin-left: 200px;
	height: 290px;
    text-align: center;
    background-image: url('../img/history-photo.jpg');
    background-repeat: no-repeat;

		img {
			position: relative;
			height: 290px;
			width: 470px;
		}
	

	.welcome-hover {

		    padding-top: 10px;
    		margin-top: 30px;
    		margin-left: 200px;
    		height: 368px;
   			width: 614px;
    		background: hsla(7,92%,69%,.7);

		h1 {
			
			font-size: 65px;
			font-family: LittleLord;

		 }

		 h2 {
		 	font-family: LittleLord;
		 	font-size: 50px;
		 }

		 h5 {
		 	font-family: LittleLord;
		 	font-family: 45px;
		 }


	}
}



.about-section {
	margin-top: 100px;
	background: rgba(218, 50, 15, 0.5);
	height: 200px;
	position: relative;
	margin-bottom: 100px;

	h1 {
		font-size: 102px;
    	position: absolute;
    	top: -35%;
    	color: #e6c074;
		
	}

	p {
		position: absolute;
		font-family: NevisBold;
		padding-top: 8%;
		color: #ebdbb9;
	}
}



.big-n-bold {
	font-size: 20px;
	color: white;
}






@media (max-width: $screen-xs-max) { 

	.first-section {
		height: 350px;
	}

	.welcome-section {
			margin-left: 0px;

		.welcome-hover{
			margin-left: 0px;
			width: 100%;
			height: 500px;

		}
	}

	.we-did-it h3{
		
			font-size: 30px;
	}

	

	.footer {
		margin-top: 100px;
	}

	
}


@media (min-width: $screen-sm-max) { 

	// 	.welcome-section {
	// 		margin-left: 0px;

	// 	.welcome-hover{
	// 		margin-left: 0px;
	// 		width: 100%;
	// 		height: 400px;

	// 	}
	// }

	
}


@media (max-width: $screen-sm-max) { 
		// .first-section {
		// 	height: 200px;
		// }

}



//---------- video ------------------------

.video-section {
	text-align: center;
	width: 100%;
	height: 400px;
	padding-top: 400px;
}

.we-did-it {
	background: rgba(232, 226, 155, 0.7);
	height: 100px;
	width: 650px;
	font-family: LittleLord;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		h3{
			font-size: 85px;
		}
	
}

.we-can-video {
	width: 57%;
    text-align: center;
    padding-left: 94px;
}

//---------- End Video ------------------------

//---------- Artist-----------------------------------------


.our-artist {
	font-family: LittleLord;
	font-size: 60px;
}




.artist-info{
	width: 300px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    transform: translateZ(0);

    img {
		max-width: none;

		transition: all 3s ease-out;
	}

}

.artist-info:hover img {
		transform: scale(1.5);
}





.artist-info:hover .artist-hover {
	opacity: 0.7;
}



.artist-hover{
	transition: all 0.5s ease-out;
	background-color: #000;
	opacity: 0;
	width: 300px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    top: 0;
    left: 0;
}

.artist-first {
	color: #FFF;
	padding-top: 100px;
	font-size: 25px;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.artist-hover:hover h2 {
	animation: fadeInDown 1s;
}

.artist-last {
	font-size: 15px;
	color: #da320f;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.artist-hover:hover p {
	animation: fadeInUp 1.5s;
}





//---------- End Artist-----------------------------------------




//--------- footer -------------------------



footer {
	background-image: url('../img/footer-bg.jpg');
	opacity: 0.7;
	height: auto;
	background-size: 100%;
	margin-top: 800px;
	height: 300px;
	box-shadow: inset 0 0 10px #000000;
	
	.footer-middle {
		padding-top: 50px;
	}
	
}






	

//---------- end footer ------------------------







//----------- tablet ----------------------------













